.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.sidebar {
  background-color: rgb(255, 255, 255);
}

.content {
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.content .contentHeader {
  background-color: rgb(255, 255, 255);
}

.content .contentOutlet {
  padding: 1rem;
}
